.blueBtn {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.blueBtn:hover {
  background-color: rgb(135, 172, 241);
}

.blueBtn:focus {
  outline: none;
}
